*, .col, .row {
  margin: 0;
  padding: 0;
}

a, a:hover, li {
  text-decoration: none;
  list-style-type: none;
}

.container {
  margin: 0;
  padding: 0;
  max-width: none;
}

/* absolute ve z-index ekledim*/
.side-bar.bg {
  width: 130px;
  max-width: 130px;
  height: 100vh;
  min-height: 700px;
  position: fixed;
  background-color: rgb(52, 58, 61);
  z-index: 5;
}

.main-bar > .row {
  margin: 0;
  padding: 0;
  height: 100vh;
}

@media only screen and (max-width: 750px) {
  .side-bar.bg {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (min-width: 750px) {
  .main-bar.bg > .row > .container {
    margin-left: 130px;
  }
}

@media only screen and (max-height: 700px) {
  .side-bar.bg {
    position: absolute;
  }
}