*, .col, .row {
  margin: 0;
  padding: 0;
}

a, a:hover, li {
  text-decoration: none;
  list-style-type: none;
}

.side-bar.bg {
  width: 130px;
  max-width: 130px;
  height: 100vh;
  min-height: 641x;
  background-color: rgb(52, 58, 61);
}

.main-bar .container {
  margin: 0;
  padding: 0;
}