.side-bar-col {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-bar-col h3 {
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(120, 120, 120);
  line-height: 2.083;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

.side-bar-col h4 {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: center;
}

.side-bar-col .remaining {
  left: 50%;
  top: -25%;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background-color: rgb(173, 173, 173);
  width: 30px;
  height: 30px;
}

.side-bar-col img {
  left: 50%; 
  transform: translate(-50%,0);
  position: relative;
}

.side-bar-col .settings-active {
  background-color: rgb(255, 80, 63);
  position: absolute;
  left: 0px;
  top: 370px;
  width: 4px;
  height: 111px;
  z-index: 2;
}

.side-bar-col .tasks-active {
  background-color: rgb(255, 80, 63);
  position: absolute;
  left: 0px;
  top: 195px;
  width: 4px;
  height: 111px;
  z-index: 2;
}

.h3-white h3 {
  color: rgb(255, 255, 255);
}

.h3-grey h3 {
  color: rgb(120, 120, 120);
}

#profile {
  position: absolute;
  top: 30px;
}

#tasks {
  position: absolute;
  top: 230px;
}

#tasks:hover img {
  background-image: url('./gorev_ikon_hover.png');
}

#tasks:hover h3 {
  color: rgb(255, 255, 255);
}

#settings {
  position: absolute;
  top: 390px;
}

#settings:hover img {
  background-image: url('./ayarlar_ikon_hover.png');
}

#settings:hover h3 {
  color: rgb(255, 255, 255);
}

#close {
  position: absolute;
  bottom: 50px;
}